<p class="wrapper">
    <tui-notification
        size="l"
        status="success"
        (close)="(0)"
    >
        <div class="tui-text_body-l-2">
            <strong>Title</strong>
        </div>
        Notification multiline long text with icons
        <div
            tuiMode="onLight"
            class="buttons tui-space_top-3"
        >
            <button
                appearance="outline"
                size="s"
                tuiButton
                class="tui-space_right-5"
            >
                Button
            </button>
        </div>
    </tui-notification>
</p>
