<!-- <div
  *ngIf="data$ | async as data"
  class="toast_wrapper"
  [class.open]="isOpen"
  [class.closed]="!isOpen"
>
  <div class="inner_wrapper">
    WRAPPER

    <div>
      <h5 class="toast_title">{{ data.title }}</h5>
      <div class="toast_text">{{ data.content }}</div>
    </div>
  </div>
</div> -->
<div
  *ngIf="data$ | async as data"
  class="toast_wrapper"
  [@openClose]="isOpen ? 'open' : 'closed'"
>
  <div class="inner_wrapper">
    <p class="toast_title">{{ data.title }}</p>
    <p class="toast_text">{{ data.content }}</p>
  </div>
</div>
