.group {
  display: flex;
  flex-direction: column;
  border: 5px solid blue;
  width: 100%;
  height: auto;
  flex-grow: 1;
  box-sizing: border-box;
  &__item {
    display: flex;
    justify-content: space-between;
  }
}
#countdown {
  display: none;
}
