<div class="group-wrapper">
  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onUpdateGroupsButton()"
    [disabled]="isCountdownActive"
  >
    Update{{ (countdown$ | async) ? " (" + (countdown$ | async) + "s)" : "" }}
    <div id="countdown"></div>
  </button>
  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onOpenModalButton()"
  >
    Create
  </button>

  <span> THIS IS GROUP LIST SECTION</span>
  <ng-container *ngIf="groupListData$ | async as groupListData">
    <div *ngIf="groupListData.Items.length > 0" class="profile__info">
      <ul
        class="tui-list tui-list_large"
        *ngFor="let item of groupListData.Items"
      >
        <li class="tui-list__item" (click)="onGroupDialogPage(item.id.S)">
          <span>{{ item.name.S }}</span>
          <button
            *ngIf="isCurrentUserGroupCreator(item.createdBy.S)"
            (click)="onDeleteGroup(item.id.S)"
          >
            ✖
          </button>
        </li>
      </ul>
    </div>
    <div>
      <ul
        class="tui-list tui-list_large"
        *ngIf="createdGroupListData$ | async as createdGroupListData"
      >
        <li *ngFor="let groupItem of createdGroupListData">
          <span>{{ groupItem.name }}</span>
          <button (click)="onDeleteGroup(groupItem.groupID)">✖</button>
        </li>
      </ul>
    </div>

    <div *ngIf="groupListData.Items.length === 0">No items available.</div>
  </ng-container>
</div>
<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Create new group', size: 's' }"
  [(tuiDialog)]="open"
>
  <form [formGroup]="createGroupForm" (ngSubmit)="observer.complete()">
    <p>Please input name of your group</p>
    <tui-input formControlName="name" tuiAutoFocus> Name of group </tui-input>
    <p>
      <button tuiButton type="submit" (click)="onCreateGroupButton()">
        Ok
      </button>
    </p>
  </form>
</ng-template>
