<div class="people">
  <div class="people__top-part">
    <div class="people__title">PEOPLE</div>

    <div class="people__buttons">
      <button
        size="m"
        tuiButton
        type="submit"
        class="tui-form__button people__button"
        (click)="onUpdatePeopleButton()"
        [disabled]="isCountdownActive"
      >
        Update{{
          (countdown$ | async) ? " (" + (countdown$ | async) + "s)" : ""
        }}
        <div id="countdown"></div>
      </button>
    </div>
  </div>
  <ng-container *ngIf="peopleListData$ | async as peopleListData">
    <div class="people__main-part">
      <div *ngIf="peopleListData.Items.length > 0">
        <ul
          class="tui-list tui-list_large"
          *ngFor="let item of getSortedPeopleList(peopleListData)"
        >
          <li
            class="tui-list__item people__item"
            (click)="onPeopleConversationPage(item.uid.S, item.hasConversation)"
            [ngClass]="{ 'has-conversation': item.hasConversation }"
          >
            {{ item.name.S }}
          </li>
        </ul>
      </div>
      <div *ngIf="peopleListData.Items.length === 0">No items available.</div>
    </div>
  </ng-container>
</div>
