<div class="people-wrapper">
  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onUpdateButton()"
  >
    Update
  </button>
  <span> THIS IS People LIST SECTION</span>
  <ng-container *ngIf="peopleListData$ | async as peopleListData">
    <div *ngIf="peopleListData.Items.length > 0" class="profile__info">
      <ul
        class="tui-list tui-list_large"
        *ngFor="let item of peopleListData.Items"
      >
        <li class="tui-list__item">{{ item.name.S }}</li>

        <!-- Add other fields you want to display -->
      </ul>
    </div>
    <div *ngIf="peopleListData.Items.length === 0">
      <!-- Handle case when there are no items -->
      No items available.
    </div>
  </ng-container>
</div>
