<div class="group-messages">
  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onBackToMainButton()"
  >
    Back
  </button>
  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onUpdateGroupsDialogButton()"
    [disabled]="isCountdownActive"
  >
    Update{{ (countdown$ | async) ? " (" + (countdown$ | async) + "s)" : "" }}
    <div id="countdown"></div>
  </button>

  <button
    size="m"
    tuiButton
    type="submit"
    class="tui-form__button"
    (click)="onDeleteGroupsDialogButton()"
    [disabled]="isCountdownActive"
  >
    Delete
    <div id="countdown"></div>
  </button>
  <ng-container *ngIf="groupMessagesData$ | async as groupMessagesData">
    <ul
      class="tui-list tui-list_large"
      *ngFor="let item of groupMessagesData.Items"
    >
      <li class="tui-list__item group-messages__message">
        <span>{{ item.createdAt.S }}</span>
        <span>Me</span>

        <span>{{ item.message.S }}</span>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="groupMessagesData$ | async as groupMessagesData">
    <ul
      class="tui-list tui-list_large"
      *ngFor="let item of groupMessagesData.Items"
    >
      <li class="tui-list__item group-messages__message">
        <span>{{ item.createdAt.S }}</span>
        <span>User name</span>

        <span>{{ item.message.S }}</span>
      </li>
    </ul>
  </ng-container>

  <form class="form" [formGroup]="sendMessageForm" class="group-messages__form">
    <tui-input
      formControlName="message"
      tuiHintContent="A tooltip"
      ngDefaultControl
      class="group-messages__form-input"
    >
      Write a message
      <input placeholder="Write a message" tuiTextfield type="text" />
      <span class="tui-required"></span>
    </tui-input>
    <button
      size="m"
      tuiButton
      type="submit"
      class="tui-form__button"
      (click)="onSendMessage()"
    >
      Send
    </button>

    <tui-error
      formControlName="message"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
  </form>
</div>
